body {
  .logoText {
    p {
      font-weight: 500;
      color: rgba(126, 125, 125, 255);
      span {
        color: rgba(14, 180, 252, 255);
      }
    }
  }
  .welcomeText {
    p {
      color: rgba(126, 125, 125, 255);
      span {
        color: rgba(14, 180, 252, 255);
      }
    }
  }
  .leftSideBar {
    ul {
      li {
        color: gray;
        list-style: none;
      }
      a {
        color: red;
      }
    }
  }
  .rightSideBar {
    .alphabetSearchButtons {
      button {
        background-color: #00b1fc;
        color: white;
      }
    }
    .searchFilterBySection {
      h6 {
        display: inline-block;
      }
      input {
        width: 30%;
        display: inline-block;
      }
      .clearButton {
        margin-top: -0.3rem;
        background-color: #69ba00;
        color: white;
      }

      .formPopup {
        margin: 3% auto 0 auto;
        display: none;
        position: fixed;
        flex-direction: column;
        width: 40%;
        justify-content: space-around;
        background: #00b1fc;
        padding: 2% 0 1% 0;
        border: 1px solid #737373;
        // display: none;
        // position: fixed;
        // bottom: 0;
        // right: 15px;
        // border: 3px solid #f1f1f1;
        // z-index: 9;
        h2 {
          text-align: center;
          color: rgb(187, 42, 42);
        }
        label {
          margin-left: 2%;
          font-weight: bold;
        }

        select {
          width: 75%;
          height: 20px;
        }
        option {
          font-size: smaller;
        }
        input {
          width: 70%;
          margin-bottom: 2%;
          border: 1px solid #737373;
          height: 20px;
        }
        .employeeFormButton {
          text-align: center;
          .submit {
            background-color: #69ba00;
            font-weight: bolder;
          }
          .close {
            background-color: rgb(173, 46, 46);
            font-weight: bolder;
          }
        }
      }
    }
  }
}
