body {
  .logoText {
    p {
      font-weight: 500;
      color: rgba(126, 125, 125, 255);
      span {
        color: rgba(14, 180, 252, 255);
      }
    }
  }
  .welcomeText {
    p {
      color: rgba(126, 125, 125, 255);
      span {
        color: rgba(14, 180, 252, 255);
      }
    }
  }
}
