body {
  width: 100%;
  height: 100vh;
  margin: 0;

  .formPopup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;

    .newEmployee {
      width: 40%;
      margin: auto;
      background: #00b1fc;
      height: fit-content;
    }

    h2 {
      text-align: center;
      color: rgb(187, 42, 42);
      margin-top: 20px;
      margin-bottom: 30px;
    }
    label {
      margin-left: 2%;
      font-weight: bold;
    }

    select {
      width: 75%;
      height: 20px;
    }
    option {
      font-size: smaller;
    }
    input {
      width: 70%;
      margin-bottom: 2%;
      border: 1px solid #737373;
      height: 20px;
    }
    .employeeFormButton {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 20px;
      .submit {
        background-color: #69ba00;
        font-weight: bolder;
      }
      .close {
        background-color: rgb(173, 46, 46);
        font-weight: bolder;
      }
    }
  }

  .logoText {
    p {
      font-weight: 500;
      color: rgba(126, 125, 125, 255);
      span {
        color: rgba(14, 180, 252, 255);
      }
    }
  }
  .welcomeText {
    p {
      color: rgba(126, 125, 125, 255);
      span {
        color: rgba(14, 180, 252, 255);
      }
    }
  }
  .leftSideBar {
    ul {
      li {
        color: gray;
        list-style: none;
      }
      li:hover {
        background-color: rgba(0, 0, 0, 0.1);
        width: 70%;
      }
    }
  }
  .rightSideBar {
    .alphabetSearchButton {
      button {
        background-color: #00b1fc;
        color: white;
      }
      button:hover {
        background-color: green;
      }
      button:focus {
        background-color: red;
      }
    }
    .searchFilterBySection {
      h6 {
        display: inline-block;
      }
      input {
        width: 50%;
        display: inline-block;
      }
      .clearButton {
        margin-top: -0.3rem;
        background-color: #69ba00;
        color: white;
      }
    }
    .employeeListSpace {
      padding: 1.5%;
      height: 85%;
      border: 1px solid #737373;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 1%;
    }
    .employee {
      display: inline-flex;
      background: #e8e9e8;
      align-items: center;
      padding: 0.5em;
      margin-bottom: 10px;
      cursor: context-menu;

      img {
        height: 80px;
        width: 80px;
      }
    }
    .employee-details {
      margin-left: 5%;
      line-height: 0%;
      width: 200px;
      h3 {
        color: #6f6c6d;
        font-size: 1em;
      }
      p {
        font-size: 0.9em;
        color: #a9a8a8;
      }
      .icons ion-icon {
        color: #a9a8a8;
      }
    }
  }
}
//////////////////////////////////////////////
.formPopup1 {
  //   display: none;
  //   position: fixed;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 1;
  //   background: rgba(0, 0, 0, 0.8);
  //   align-items: center;

  .newEmployee {
    width: 40%;
    margin: auto;
    background: #00b1fc;
    height: fit-content;
  }

  h2 {
    text-align: center;
    color: rgb(187, 42, 42);
    margin-top: 20px;
    margin-bottom: 30px;
  }
  label {
    margin-left: 2%;
    font-weight: bold;
  }

  select {
    width: 75%;
    height: 20px;
  }
  option {
    font-size: smaller;
  }
  input {
    width: 70%;
    margin-bottom: 2%;
    border: 1px solid #737373;
    height: 20px;
  }
  .employeeFormButton {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    .submit {
      background-color: #69ba00;
      font-weight: bolder;
    }
    .close {
      background-color: rgb(173, 46, 46);
      font-weight: bolder;
    }
  }
}
